# Laravel stuff we don’t need inside the image
/node_modules
/vendor
/storage/*.key
/storage/logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

# Build junk
npm-debug.log
yarn-error.log
.phpunit.result.cache
.phpunit.cache
Homestead.yaml
Homestead.json

# IDEs/editors
/.idea
/.vscode
/.fleet
/.zed

# OS files
.DS_Store
Thumbs.db
