# Laravel & PHP
/vendor/
/node_modules/
.env
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
Homestead.yaml
Homestead.json
.phpactor.json
/auth.json

# Laravel generated stuff
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*.php

# Editor & IDE
/.idea
/.vscode
/.fleet
/.nova
/.zed

# OS generated
.DS_Store
Thumbs.db

# NPM/Yarn logs
npm-debug.log
yarn-error.log
